name: FGC DEV Regression Tests API

on:
  # Disparar manualmente
  workflow_dispatch:

jobs:
  run-newman:
    runs-on: ubuntu-latest

    steps:
      # Fazer o checkout do reposit贸rio
      - name: Checkout repository
        uses: actions/checkout@v3

      # Instalar o Newman e o newman-reporter-htmlextra
      - name: Install Newman and Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      # Criar diret贸rio para os relat贸rios
      - name: Create Reports Directory
        run: mkdir -p ./reports

      # Executar a cole莽茫o Postman e gerar relat贸rio HTML
      - name: Run Postman Collection
        id: run_tests
        continue-on-error: true  # Permite que o passo continue mesmo com falhas
        run: |
          newman run dev_fgc_contribui莽玫es.postman_collection.json -r cli,htmlextra --reporter-htmlextra-export ./reports/dev_test_report.html

      # Listar os relat贸rios gerados para depura莽茫o
      - name: Debug Artifact Path
        run: |
          echo "Checking reports directory:"
          ls -lh ./reports

      # Enviar o relat贸rio por e-mail
      - name: Send Report via Email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: "DEV Test Report"
          body: "Segue em anexo o relat贸rio gerado pelo pipeline DEV."
          to: |
            silvio.aulik@gmail.com,
            cristina.briguenti@fgc.org.br
          from: "GitHub Actions <silvio.aulik@gmail.com>"
          attachments: ./reports/dev_test_report.html

      # Exibir mensagem em caso de falha
      - name: Log Failure
        if: failure()  # Executa apenas se houver falha nos passos anteriores
        run: |
          echo "===================================="
          echo " Pipeline Failed!"
          echo "Branch: ${{ github.ref }}"
          echo "Commit: ${{ github.sha }}"
          echo "Verifique os logs em:"
          echo "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          echo "===================================="




