name: FGC QA Regression Tests API

on:
  # Disparar automaticamente toda sexta-feira s 19:00 UTC
  schedule:
    - cron: "0 19 * * 5"

  # Disparar automaticamente em cada push para a branch main
  push:
    branches:
      - main

jobs:
  run-newman:
    runs-on: ubuntu-latest

    steps:
      # Fazer o checkout do reposit贸rio
      - name: Checkout repository
        uses: actions/checkout@v3

      # Instalar o Newman e o newman-reporter-htmlextra
      - name: Install Newman and Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      # Criar diret贸rio para os relat贸rios
      - name: Create Reports Directory
        run: mkdir -p ./reports

      # Executar a cole莽茫o Postman usando o reporter CLI e htmlextra
      - name: Run Postman Collection
        id: run_tests
        run: |
          newman run qa_fgc_contribui莽玫es.postman_collection.json -e qa.postman_environment.json --folder "test" -r cli,htmlextra --reporter-htmlextra-export ./reports/qa_test_report.html

      # Listar os relat贸rios gerados
      - name: List Reports
        run: ls -R ./reports

      # Fazer upload do relat贸rio HTML como artefato
      - name: Upload HTML Report
        uses: actions/upload-artifact@v3
        with:
          name: QA-Test-Report
          path: ./reports/qa_test_report.html

      # Exibir mensagem em caso de falha
      - name: Log Failure
        if: failure()  # Executa apenas se houver falha nos passos anteriores
        run: |
          echo "===================================="
          echo " Pipeline Failed!"
          echo "Branch: ${{ github.ref }}"
          echo "Commit: ${{ github.sha }}"
          echo "Verifique os logs em:"
          echo "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          echo "===================================="
